<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.CategoryMapper">

    <sql id="common">
        select id,
               type,
               name,
               sort,
               status,
               create_time,
               update_time,
               create_user,
               update_user
        from category
    </sql>
    <insert id="insert">
        insert into category (type, name, sort, status, create_time, update_time, create_user, update_user)
        VALUES (#{type}, #{name}, #{sort}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <update id="update">
        update category
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>
    <select id="page" resultType="com.sky.entity.Category">
        <include refid="common"/>
        <where>
            <if test="name != null and name != ''">name like concat('%',#{name},'%')</if>
            <if test="type != null">and type = #{type}</if>
        </where>
        order by sort asc
    </select>
    <select id="selectByType" resultType="com.sky.entity.Category">
        <include refid="common"/>
        <where>
            <if test="type != null">type = #{type}</if>
        </where>
    </select>

</mapper>